<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbelieve.footballlivescore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.androidbelieve.footballlivescore.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">

        <meta-data
            android:name="DATABASE"
            android:value="favorite_match.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.androidbelieve.footballlivescore" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.androidbelieve.footballlivescore.MainActivity_"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidbelieve.footballlivescore.acitivities.MatchDetailActivity_"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.androidbelieve.footballlivescore.footballclubinfor.FootBallClubInformationActivity_"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.androidbelieve.footballlivescore.acitivities.WebViewsActivity_"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.androidbelieve.footballlivescore.ltdfootballclub.ScheduleFcActivity_"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.androidbelieve.footballlivescore.troll_fragment.VideoTrollDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider112241672473854"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".testpain.PaintActivity_"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".favorite_match.NotificationMessage" />
    </application>
</manifest>
